<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee page</title>
    <link rel="stylesheet" href="{% static 'css/employee.css' %}">
</head>
<body>
    <div id="contenedor">
        <div id="header">
            {% include "./components/navar.html" %}
        </div>
        <div id="nav">
            
        </div>
        <div id="contenido">
            <div id="section">
                {% include "./components/orden_compra.html" %}
            </div>
            
          
        </div>
        <div id="footer">SI</div>
    </div>
    
</body>
</html>