<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee page</title>
    <link rel="stylesheet" href="{% static 'css/employee.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            {% include "./components/navar.html" %}
        </div>
        <div class="content">
            {% include "./components/orden_compra.html" %}

        </div>
                      
          
        <div class="footer">
            {% include "./components/footer.html" %} 
        </div>
    </div>
    
</body>
</html>