<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/temporal.css' %}">
</head>
<body>
    <ul>
        <li><a href="#home">Registro</a></li>
        <li><a href="#news">Productos</a></li>
        <li><a href="#contact">Acerca de</a></li>
        <li style="float:right"><a class="active" href="#about">enviar</a></li>
      </ul>
</body>
</html>

  

