<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/or_compra.css' %}">
</head>
<body>
 
    <body>
        <form action="" method="post">
            <fieldset class="informacion">
            
                <legend>Ingrese Pedido</legend>
                <div class="section1">
                    <br>
    
                    <label for="compra" >Orden de compra1</label>
                    <br>
                    
                    <input type="text" class="ordencompra1">
                </div>
                
                <div class="section2">
                    <p>Documentos XML o ZIP</p>
                    
                    <input type="text" class="documentoxml">
                    {% if text %}             
                    <span> sin archivos selecionados</span>
                    
                    {% endif %}
                    <span> archivo subido </span>
                </div>
                <div class="section3">
                    <label for="nofact">No.Factura</label>
                    
        
                    <input type="text" class="factura">
                    <br>
                    
                    <label for="monto" >Monto:</label>
                    <br>
                    <input type="text"class="monto">
                    <br>
                    
                    <label for="datefact">Fecha factura</label>
                    <br>
                    <input type="date" class="date">
                </div>
                
               
                <div class="section4">
                   
                    <input type="submit" class="btn-submit" value="Registrar pedido">
    
                    <button class="cancelar">Cancelar</button>
                    
                </div>
            </fieldset>
        </form>
            
           
    </body>
       
</body>
</html>