<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/or_compra.css' %}">
</head>
<body>
 
        
       
    
    <div class="info">
    <div class="orden-compra">
        <label for="" class="ordencompralabel">Orden de compra</label>
        <input type="text" class="ordencompracaja">
    </div>


    <div class="select-file">
        <div class="document">
            <div class="titledocument">documentos XML O ZIP</div>
            <div class="documentback">
                <input type="buttondocument">
                <div class="estadodocument">sjhkjsdjk</div>
            </div>
        </div>
        <div class="document">
            <div class="titledocument"></div>
            <div class="documentback">
                <input type="buttondocument">
                <div class="estadodocument"></div>
            </div>
        </div>
    </div>


    <div class="factura">
        <div class="numerofac">
            <label for="">
                <input type="text">
            </label>
        </div>

        <div class="cantfac">
            <label for="">
                <input type="text">
            </label>
        </div>

        <div class="datefac">
            <label for="">
                <input type="text">
            </label>
        </div>
    </div>


    <div class="confirmacion">
        <div class="ingresarpedido"></div>
        <div class="cancelar"></div>
    </div>
</div>
</body>
</html>