<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/or_compra.css' %}">
</head>
<body>
 
    <form action="" method="post">
        <fieldset>
            <legend>Ingrese Pedido</legend>
            <div class="section1">
                <label for="compra">Orden de compra1</label>
                <input type="text">
            </div>
            <div class="section2">
                <p>Documentos XML o ZIP</p>
                <input type="text">
                {% if text %}             
                <span> sin archivos selecionados</span>
                {% endif %}
                <span> archivo subido </span>
            </div>
            <div class="section3">
                <label for="nofact">No.Factura</label>
                <input type="text">
                <label for="monto">Monto:</label>
                <input type="text">
                <label for="datefact">Fecha factura</label>
            </div>
            <div class="section4">
                <input type="submit">
                <input type="submit">
            </div>
        </fieldset>
    </form>
        
       
</body>
</html>